<a href="https://colab.research.google.com/github/Talieh-m/Data_Science/blob/main/RandomForestRegressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing Libraries**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# **Importing the Dataset**

In [ ]:
df=pd.read_csv('avocado.csv')
df.head()

   Unnamed: 0        Date  AveragePrice  ...          type  year  region
0           0  2015-12-27          1.33  ...  conventional  2015  Albany
1           1  2015-12-20          1.35  ...  conventional  2015  Albany
2           2  2015-12-13          0.93  ...  conventional  2015  Albany
3           3  2015-12-06          1.08  ...  conventional  2015  Albany
4           4  2015-11-29          1.28  ...  conventional  2015  Albany

[5 rows x 14 columns]

# **Variables:***

Unnamed: index

Date: The date of the observation

AveragePrice:the average price of a single avocado

Total Volum: Total number of avocados sold

4046: Total number of avocados with PLU 4046 sold

4225: Total number of avocados with PLU 4225 sold

4770: Total number of avocados with PLU 4770 sold

Total Bags: total number of bags

Small Bags: total number of small bags

Large Bags: number of large bags

XLarge Bags: total number of X larg bags

Type: conventional or organic

region:the city or region of the observation

# **Data Preparation**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   Total Bags    18249 non-null  float64
 8   Small Bags    18249 non-null  float64
 9   Large Bags    18249 non-null  float64
 10  XLarge Bags   18249 non-null  float64
 11  type          18249 non-null  object
 12  year          18249 non-null  int64
 13  region        18249 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB

In [ ]:
x= df.iloc[:,3:].values
y=df.iloc[:,2].values
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
x[:, 8]= le.fit_transform(x[:, 8])
# encoding the name of countries
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct= ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [10])], remainder= 'passthrough')
x = ct.fit_transform(x).toarray()

In [ ]:
# split the dataset into traning and testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=.2, random_state= 0)

In [ ]:
# standard sclaling is obligation for neural network
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
x_train= sc.fit_transform(x_train)
x_test= sc.transform(x_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor= RandomForestRegressor()
regressor.fit(x_train,y_train)
y_pred= regressor.predict(x_test)
print(np.concatenate((y_test.reshape(len(y_test),1),y_pred.reshape(len(y_pred),1)),1))

[[1.48   1.6104]
 [1.05   1.0222]
 [1.27   1.3016]
 ...
 [1.76   1.5356]
 [1.69   1.7362]
 [1.61   1.7515]]

In [ ]:
from sklearn.metrics import r2_score
print(np.round(r2_score(y_test,y_pred), decimals=2))

0.86